# Build Binaries
bin/
Binaries/

# Build outputs
build/
Build/

# Test Fakes
fakes/

# Solutions
_solutions/

# Temporary Files
tmp/
_tmp/

# Doxygen Builds
documentation/html/
documentation/latex/

# Executable files
*.exe

# Shared Libraries
*.dll

# Object Files
*.o
*.obj

# Environment Variables (local)
.env
.key

# External Libraries
external/

# Dependency Files
*.d

# Python Environments
venv/

# Python Binary Files
*.pyc
__pycache__

# Database files
db.sqlite3

# VIM Backup\Swap files
*~

# KiCAD Backup Files
*.kicad_pcb-bak
*.sch-bak
*-backups/

# VS Code folders and workspace
.vscode/
*.code-workspace
.vs/
.vsconfig
*.sln

# VK temporary files
_vk

# OSX bullshit
.DS_Store

# Unreal
DerivedDataCache/
Saved/
Intermediate/
StarterContent/