[Unit]
Description=Chromium Daemon (timer)
After=network-online.target

[Timer]
OnBootSec=30sec
OnUnitActiveSec=10sec

[Install]
WantedBy=timers.target