<!DOCTYPE html>
<head>
  <title>Question Generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div class="logo">
    <img src="{{ url_for('static', filename='logo.png') }}" class="icon" />
  </div>
  <h3>What would you like a question about?</h3>
  <form action="/" method="post">
    <input type="text" name="topic" placeholder="Enter a topic" required />
    <input type="submit" value="Generate question" />
  </form>
  {% if result %}
  <hr>
  <div class="result">{{result}}</div>
  {% endif %}
</body>