<!DOCTYPE html>
<head>
  <title>GPT vs WIKI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div class=grid>
  
    {% if result1 and result2 %}
    <div class="result1">{{result1}}</div>
    {% else %}
    <div class="result1"></div>
    {% endif %}

    <div class="title">
      {% if title %}
      <h1>{{ title }}</h1>
      {% else %}
      <h1>. . .</h1>
      {% endif %}
    </div>

    {% if result1 and result2 %}
    <div class="result2">{{result2}}</div>
    {% else %}
    <div class="result2"></div>
    {% endif %}

  </div>
</body>