<!DOCTYPE html>
<head>
  <title>GPT vs WIKI</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  
  <div class=grid>
  
    <div class="result1"><a href="/select1" class="select1">{{result1}}</a></div>

    <div class="title">
      <div class="question">Wikipedia vs. 
        <form class="model" method="post" action="{{ url_for('select') }}">
          <select name="version" id="version" onchange="this.form.submit()">
            {% if generation %}
            <option hidden value={{generation}}>{{generation}}</option>
            {% endif %}
            <option value="GPT-3">GPT-3</option>
            <option value="GPT-3.5">GPT-3.5</option>
            <option disabled value="GPT-4">GPT-4</option>
          </select>
        </form>
      </div>
      <div class="topic">{{ title }}</div>
      <div class="score"><h5>Which is Wikipedia?</h5>Score: {{num_correct}} / {{num_trials}}</div>
    </div>

    <div class="result2"><a href="/select2" class="select2">{{result2}}</a></div>

  </div>
</body>