<!DOCTYPE html>
<head>
  <title>GPT vs WIKI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div class=grid>
  
    <div class="result1"><a href="/select1" class="select1">{{result1}}</a></div>

    <div class="title">
      <h5>Which is Wiki?</h5>
      <h1>{{ title }}</h1>
      <h3>{{num_correct}} / {{num_trials}}</h5>
    </div>

    <div class="result2"><a href="/select2" class="select2">{{result2}}</a></div>

  </div>
</body>